.menu-left-part
{
    background-color: white;
    float: left;
    padding: 45px 45px 0px 50px;
    width: 29.2%;
    height: 560px;
    font-weight: bold;
    font-size: 28px;
}

h1 a {
    color: #CC0000;
    text-decoration: none;
}

h1 a:focus {
    color: #666666;
    text-decoration: none;
}

.detail-right-part
{
    background-color: white;
    margin: 0px 0px 0px 20px;
    float: left;
    width: 65%;
    padding: 25px 10px 10px 20px;
    height: 560px;
}

.menu-postion{
    margin: 0% 0% 0% 10%;
    text-align: left;
    width: 80%;
}